In [1]:
import pandas as pd

# AEMET dataset

In [2]:
aemet_port_df = pd.read_csv('..\Datos\AEMET_Port_2124.csv')
aemet_Drassanes_df = pd.read_csv('..\Datos\AEMET_Drassanes_2124.csv')

In [3]:
aemet_port_df

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2021-06-02,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,4","0,0","17,9",03:30,"22,9",14:00,99.0,"3,6","6,7",Varias,87,94,00:10,82,07:10
1,2021-06-03,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,6","0,0","18,6",04:50,"22,7",13:30,99.0,"4,7","7,5",Varias,89,93,Varias,87,06:50
2,2021-06-04,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,5","0,0","19,0",01:50,"22,0",14:10,8.0,"5,3","9,2",07:50,90,93,Varias,85,10:20
3,2021-06-05,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,6","0,7","18,3",Varias,"23,0",07:20,99.0,"2,5","6,7",Varias,80,93,Varias,69,21:40
4,2021-06-06,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"21,5","0,0","18,8",06:50,"24,2",10:20,22.0,"4,4","15,0",13:50,72,89,05:50,52,10:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147,2021-05-28,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"19,2","0,0","16,4",02:40,"22,1",13:00,8.0,"2,5","6,9",07:20,83,92,20:20,78,10:40
1148,2021-05-29,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"21,0","0,0","16,6",03:10,"25,5",16:30,21.0,"3,3","8,1",15:40,72,88,01:50,44,16:20
1149,2021-05-30,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"21,0","0,0","18,4",22:30,"23,5",11:30,8.0,"3,6","8,3",17:50,86,91,Varias,55,00:00
1150,2021-05-31,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,4","0,0","17,7",23:30,"23,2",13:50,27.0,"2,2","8,1",00:40,83,92,20:00,65,23:59
1151,2021-06-01,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"19,8","0,4","17,8",04:40,"21,7",11:50,99.0,"2,8","8,9",16:50,84,94,Varias,63,06:50

In [4]:
aemet_Drassanes_df

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2021-01-01,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"8,6","0,0","7,2",23:32,"10,0",00:01,64.0,69.0,05:10,56.0,22:30
1,2021-01-02,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"7,6","0,0","4,6",07:01,"10,6",13:33,56.0,67.0,22:00,45.0,14:20
2,2021-01-03,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"7,6","0,0","4,7",08:18,"10,4",13:12,43.0,69.0,23:40,30.0,13:10
3,2021-01-04,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"7,8","0,0","3,9",03:06,"11,8",14:29,52.0,69.0,03:20,32.0,Varias
4,2021-01-05,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"7,1","0,0","4,0",23:39,"10,2",13:09,61.0,72.0,18:20,48.0,13:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,2024-12-27,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"12,4","0,0","8,4",06:52,"16,3",15:23,62.0,88.0,00:50,40.0,15:20
1439,2024-12-28,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"10,8","0,0","5,8",07:14,"15,9",13:48,71.0,81.0,06:20,49.0,13:30
1440,2024-12-29,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"10,6","0,2","5,8",06:33,"15,3",15:14,69.0,85.0,07:00,49.0,13:10
1441,2024-12-30,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"10,4","0,0","5,5",07:24,"15,4",14:56,NaN,86.0,02:40,52.0,14:50
1442,2024-12-31,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"10,2","0,0","6,6",06:51,"13,8",13:05,79.0,85.0,04:00,67.0,10:00

In [5]:
# The Port station includes wind data but was inactive for 10 months. However, the Drassanes station is very close, so we can use it to fill the missing data
aemet_port_df['fecha'] = pd.to_datetime(aemet_port_df['fecha'])
aemet_Drassanes_df['fecha'] = pd.to_datetime(aemet_Drassanes_df['fecha'])

# We filter the dates that are in aemet_Drassanes_df but not in aemet_port_df and concatenate them
missing_dates = aemet_Drassanes_df[~aemet_Drassanes_df['fecha'].isin(aemet_port_df['fecha'])]

aemet_df = pd.concat([aemet_port_df, missing_dates], ignore_index=True)

In [6]:
aemet_df

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2021-06-02,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,4","0,0","17,9",03:30,"22,9",14:00,99.0,"3,6","6,7",Varias,87.0,94.0,00:10,82.0,07:10
1,2021-06-03,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,6","0,0","18,6",04:50,"22,7",13:30,99.0,"4,7","7,5",Varias,89.0,93.0,Varias,87.0,06:50
2,2021-06-04,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,5","0,0","19,0",01:50,"22,0",14:10,8.0,"5,3","9,2",07:50,90.0,93.0,Varias,85.0,10:20
3,2021-06-05,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"20,6","0,7","18,3",Varias,"23,0",07:20,99.0,"2,5","6,7",Varias,80.0,93.0,Varias,69.0,21:40
4,2021-06-06,0201D,"BARCELONA, PORT OL�MPIC",BARCELONA,26,"21,5","0,0","18,8",06:50,"24,2",10:20,22.0,"4,4","15,0",13:50,72.0,89.0,05:50,52.0,10:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2023-05-01,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"18,8","0,0","16,9",Varias,"20,6",12:33,NaN,NaN,NaN,NaN,73.0,85.0,Varias,67.0,14:10
1457,2023-05-02,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"18,4","0,0","14,6",05:09,"22,2",11:36,NaN,NaN,NaN,NaN,66.0,84.0,Varias,52.0,12:10
1458,2023-05-03,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"19,3","0,0","15,7",05:01,"22,9",12:05,NaN,NaN,NaN,NaN,70.0,85.0,22:40,49.0,12:20
1459,2023-05-04,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"19,2","0,0","16,1",04:59,"22,4",13:07,NaN,NaN,NaN,NaN,72.0,89.0,06:00,51.0,09:30
1460,2023-05-05,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"19,8","0,0","16,9",04:55,"22,7",14:25,NaN,NaN,NaN,NaN,71.0,89.0,23:50,63.0,14:10

In [7]:
# Before anything else we have to correct the format of the floats
aemet_df = aemet_df.apply(lambda x: x.str.replace(',', '.', regex=False) if x.dtype == 'object' else x)
# We convert the columns to numeric values
aemet_df.iloc[:, 4:16] = aemet_df.iloc[:, 4:16].apply(pd.to_numeric, errors='coerce')

C:\Users\javie\AppData\Local\Temp\ipykernel_804\4085839185.py:4: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  aemet_df.iloc[:, 4:16] = aemet_df.iloc[:, 4:16].apply(pd.to_numeric, errors='coerce')

In [8]:
aemet_df

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2021-06-02,0201D,BARCELONA. PORT OL�MPIC,BARCELONA,26,20.4,0.0,17.9,NaN,22.9,NaN,99.0,3.6,6.7,NaN,87.0,94.0,00:10,82.0,07:10
1,2021-06-03,0201D,BARCELONA. PORT OL�MPIC,BARCELONA,26,20.6,0.0,18.6,NaN,22.7,NaN,99.0,4.7,7.5,NaN,89.0,93.0,Varias,87.0,06:50
2,2021-06-04,0201D,BARCELONA. PORT OL�MPIC,BARCELONA,26,20.5,0.0,19.0,NaN,22.0,NaN,8.0,5.3,9.2,NaN,90.0,93.0,Varias,85.0,10:20
3,2021-06-05,0201D,BARCELONA. PORT OL�MPIC,BARCELONA,26,20.6,0.7,18.3,NaN,23.0,NaN,99.0,2.5,6.7,NaN,80.0,93.0,Varias,69.0,21:40
4,2021-06-06,0201D,BARCELONA. PORT OL�MPIC,BARCELONA,26,21.5,0.0,18.8,NaN,24.2,NaN,22.0,4.4,15.0,NaN,72.0,89.0,05:50,52.0,10:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2023-05-01,0201X,BARCELONA. DRASSANES,BARCELONA,11,18.8,0.0,16.9,NaN,20.6,NaN,NaN,NaN,NaN,NaN,73.0,85.0,Varias,67.0,14:10
1457,2023-05-02,0201X,BARCELONA. DRASSANES,BARCELONA,11,18.4,0.0,14.6,NaN,22.2,NaN,NaN,NaN,NaN,NaN,66.0,84.0,Varias,52.0,12:10
1458,2023-05-03,0201X,BARCELONA. DRASSANES,BARCELONA,11,19.3,0.0,15.7,NaN,22.9,NaN,NaN,NaN,NaN,NaN,70.0,85.0,22:40,49.0,12:20
1459,2023-05-04,0201X,BARCELONA. DRASSANES,BARCELONA,11,19.2,0.0,16.1,NaN,22.4,NaN,NaN,NaN,NaN,NaN,72.0,89.0,06:00,51.0,09:30
1460,2023-05-05,0201X,BARCELONA. DRASSANES,BARCELONA,11,19.8,0.0,16.9,NaN,22.7,NaN,NaN,NaN,NaN,NaN,71.0,89.0,23:50,63.0,14:10

NaN managing

In [9]:
aemet_df.isna().sum()

fecha            0
indicativo       0
nombre           0
provincia        0
altitud          0
tmed             2
prec             4
tmin             2
horatmin      1461
tmax             2
horatmax      1461
dir            311
velmedia       309
racha          311
horaracha     1461
hrMedia          0
hrMax            1
horaHrMax        1
hrMin            1
horaHrMin        1
dtype: int64

In [10]:
# The wind values are missing for a period too long, so we should not fill them
fill_NaN_cols = ['tmed', 'tmin', 'prec','tmax', 'hrMedia', 'hrMax', 'hrMin']

In [11]:
aemet_df.columns

Index(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec',
       'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha',
       'horaracha', 'hrMedia', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin'],
      dtype='object')

In [12]:
# Delete unnecesary columns
aemet_df = aemet_df.drop(['indicativo', 'nombre', 'provincia', 'altitud', 'horatmin', 'horatmax', 'horaHrMax', 'horaHrMin', 'horaracha'], axis=1)

In [13]:
# We create a function to fill the NaN values with the mean of the previous and next values
def fill_with_mean(df, columns):
    for column in columns:
        # Iterate over the rows to identify and fill the NaNs in each column
        for i in range(1, len(df) - 1): 
            if pd.isna(df[column][i]):
                prev_value = df[column][i - 1] if pd.notna(df[column][i - 1]) else None
                next_value = df[column][i + 1] if pd.notna(df[column][i + 1]) else None

                # If both before and after values ​​are available, calculate the average
                if prev_value is not None and next_value is not None:
                    # Calculate the average of the available values
                    df[column][i] = (prev_value + next_value) / 2
                elif prev_value is not None:  # If only the previous value is available
                    df[column][i] = prev_value
                elif next_value is not None:  # If only the posterior value is available
                    df[column][i] = next_value

        # If there is a full block of NaNs at the end, you can fill them with the last available value
        if pd.isna(df[column].iloc[-1]): 
            last_non_na = df[column].dropna().iloc[-1]
            df[column].iloc[-1] = last_non_na

    return df



aemet_df = fill_with_mean(aemet_df, fill_NaN_cols)

C:\Users\javie\AppData\Local\Temp\ipykernel_804\2695586268.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column][i] = (prev_value + next_value) / 2

In [14]:
aemet_df.dtypes

fecha       datetime64[ns]
tmed               float64
prec               float64
tmin               float64
tmax               float64
dir                float64
velmedia           float64
racha              float64
hrMedia            float64
hrMax              float64
hrMin              float64
dtype: object

# Mosquito dataset

In [15]:
mosquito_df = pd.read_excel('..\Datos\observations.xlsx')

In [16]:
mosquito_df

,id,code,date,longitude,latitude,ref_system,nuts0_id,nuts0_name,nuts3_id,nuts3_name,...,lau_name,type,validation,category,ai value,larvae,bite_count,bite_location,bite_time,map_link
0,8284006f-ee67-44f2-aa2f-d9d99575318f,GU06,2022-05-16 01:06:03.206244+00:00,2.160348,41.377078,WGS84,NaN,NaN,NaN,NaN,...,Barcelona,bite,0,bite,NaN,NaN,5.0,Inside a building,NaN,https://map.mosquitoalert.com/8284006f-ee67-44...
1,e59074db-9b20-43a1-bf88-65556a32d199,6f28,2021-05-27 09:33:47.011454+00:00,2.149098,41.433172,WGS84,ES,España,ES511,Barcelona,...,Barcelona,site,1,storm_drain_dry,NaN,NaN,NaN,NaN,NaN,https://map.mosquitoalert.com/e59074db-9b20-43...
2,88e06fb9-901c-4bf2-a6b5-2960cfd03edf,80SP,2022-06-01 09:47:59.823468+00:00,2.191119,41.424461,WGS84,ES,España,ES511,Barcelona,...,Barcelona,adult,1,other_species,NaN,NaN,NaN,NaN,NaN,https://map.mosquitoalert.com/88e06fb9-901c-4b...
3,2f8c10b3-f27a-49f1-9edf-3709f9526d6c,3401,2022-05-04 08:23:10.006812+00:00,2.203766,41.419785,WGS84,ES,España,ES511,Barcelona,...,Barcelona,site,1,storm_drain_dry,NaN,NaN,NaN,NaN,NaN,https://map.mosquitoalert.com/2f8c10b3-f27a-49...
4,7795df4e-45e9-47ce-a63b-3c334f1326ae,as0w,2023-05-16 10:15:35.558650+00:00,2.197139,41.416931,WGS84,ES,España,ES511,Barcelona,...,Barcelona,site,1,storm_drain_dry,NaN,NaN,NaN,NaN,NaN,https://map.mosquitoalert.com/7795df4e-45e9-47...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12143,8dca8ca9-550f-4660-8a88-48b2cdd715b8,2d61,2024-09-20 05:42:25.439831+00:00,2.163805,41.408968,WGS84,ES,España,ES511,Barcelona,...,Barcelona,bite,0,bite,NaN,NaN,2.0,Outdoors,Afternoon,https://map.mosquitoalert.com/8dca8ca9-550f-46...
12144,d28e9938-0867-4f9e-8124-862e7cd8309f,T3Ej,2023-03-25 09:27:41.361157+00:00,2.183677,41.381476,WGS84,NaN,NaN,NaN,NaN,...,Barcelona,adult,1,other_species,NaN,NaN,NaN,NaN,NaN,https://map.mosquitoalert.com/d28e9938-0867-4f...
12145,1a9d8026-c89e-484b-81c1-4352be9da82c,ou99,2024-09-05 21:18:30.312231+00:00,2.157487,41.408008,WGS84,ES,España,ES511,Barcelona,...,Barcelona,bite,0,bite,NaN,NaN,1.0,Don't know,Afternoon,https://map.mosquitoalert.com/1a9d8026-c89e-48...
12146,a94623bc-ffb8-43d2-9393-cef490339dd0,uMJA,2024-08-30 14:43:18.159139+00:00,2.157602,41.407952,WGS84,ES,España,ES511,Barcelona,...,Barcelona,bite,0,bite,NaN,NaN,1.0,Inside a building,Midday,https://map.mosquitoalert.com/a94623bc-ffb8-43...
12147,d7e464d0-b746-44e5-ad25-4556f21d658c,cBdu,2024-08-27 19:54:26.933806+00:00,2.189042,41.418840,WGS84,ES,España,ES511,Barcelona,...,Barcelona,bite,0,bite,NaN,NaN,1.0,Inside a building,Afternoon,https://map.mosquitoalert.com/d7e464d0-b746-44...

In [17]:
# We group the data by day and count the number of observations
mosquito_df['date'] = pd.to_datetime(mosquito_df['date'])

mosquito_df['fecha_solo_dia'] = mosquito_df['date'].dt.date

mosquito_simple_df = mosquito_df.groupby('fecha_solo_dia').agg('count')

mosquito_simple_df = mosquito_simple_df.reset_index()

mosquito_simple_df['fecha_solo_dia'] = pd.to_datetime(mosquito_simple_df['fecha_solo_dia'])

In [18]:
mosquito_simple_df

,fecha_solo_dia,id,code,date,longitude,latitude,ref_system,nuts0_id,nuts0_name,nuts3_id,...,lau_name,type,validation,category,ai value,larvae,bite_count,bite_location,bite_time,map_link
0,2021-01-01,2,2,2,2,2,2,1,1,1,...,2,2,2,2,0,0,0,0,0,2
1,2021-01-02,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,1
2,2021-01-03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,1
3,2021-01-06,2,2,2,2,2,2,1,1,1,...,2,2,2,2,0,0,0,0,0,2
4,2021-01-09,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,2024-12-16,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,1,1,0,1
1101,2024-12-18,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,1
1102,2024-12-26,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,1
1103,2024-12-28,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
1104,2024-12-30,1,1,1,1,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,1

In [19]:
# We frop all coumns but date and id. Rename id to count and fecha_solo_dia to fecha
mosquito_simple_df = mosquito_simple_df[['id', 'fecha_solo_dia']]
mosquito_simple_df = mosquito_simple_df.rename(columns={'id': 'count', 'fecha_solo_dia': 'fecha'})
mosquito_simple_df

      count      fecha
0         2 2021-01-01
1         1 2021-01-02
2         1 2021-01-03
3         2 2021-01-06
4         1 2021-01-09
...     ...        ...
1100      1 2024-12-16
1101      1 2024-12-18
1102      1 2024-12-26
1103      1 2024-12-28
1104      1 2024-12-30

[1105 rows x 2 columns]

# Final dataframe

In [20]:
# We merge the two dataframes
final_df = aemet_df.merge(mosquito_simple_df, how='outer', on='fecha')
final_df

,fecha,tmed,prec,tmin,tmax,dir,velmedia,racha,hrMedia,hrMax,hrMin,count
0,2021-06-02,20.4,0.0,17.9,22.9,99.0,3.6,6.7,87.0,94.0,82.0,5.0
1,2021-06-03,20.6,0.0,18.6,22.7,99.0,4.7,7.5,89.0,93.0,87.0,163.0
2,2021-06-04,20.5,0.0,19.0,22.0,8.0,5.3,9.2,90.0,93.0,85.0,9.0
3,2021-06-05,20.6,0.7,18.3,23.0,99.0,2.5,6.7,80.0,93.0,69.0,9.0
4,2021-06-06,21.5,0.0,18.8,24.2,22.0,4.4,15.0,72.0,89.0,52.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2023-05-01,18.8,0.0,16.9,20.6,NaN,NaN,NaN,73.0,85.0,67.0,2.0
1457,2023-05-02,18.4,0.0,14.6,22.2,NaN,NaN,NaN,66.0,84.0,52.0,6.0
1458,2023-05-03,19.3,0.0,15.7,22.9,NaN,NaN,NaN,70.0,85.0,49.0,NaN
1459,2023-05-04,19.2,0.0,16.1,22.4,NaN,NaN,NaN,72.0,89.0,51.0,4.0
1460,2023-05-05,19.8,0.0,16.9,22.7,NaN,NaN,NaN,71.0,89.0,63.0,250.0

In [21]:
# When there is no mosquito we have to add 0 to the count column
final_df['count'].fillna(0, inplace=True)

In [22]:
# We need to add a column with 1 if there is any number in count and 0 if not
final_df['mosquito'] = final_df['count'].apply(lambda x: 1 if x > 0 else 0)

In [23]:
# The month may be an important variable, so we add it
final_df['fecha'] = pd.to_datetime(final_df['fecha'])
final_df['dayofyear'] = final_df['fecha'].dt.dayofyear

In [24]:
# We check for unusual values.
final_df.describe()

,tmed,prec,tmin,tmax,dir,velmedia,racha,hrMedia,hrMax,hrMin,count,mosquito,dayofyear
count,1461.000000,1461.000000,1461.000000,1461.000000,1150.000000,1152.000000,1150.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000
mean,18.072621,1.028884,14.990554,21.153457,24.195652,3.550087,9.425478,74.895277,87.726215,59.809035,8.314853,0.756331,183.125257
std,5.697615,4.309804,5.907211,5.648320,22.109605,1.517320,3.261139,12.143293,7.516579,15.013960,31.993377,0.429442,105.474746
min,4.900000,0.000000,2.000000,7.400000,1.000000,0.800000,3.600000,19.000000,46.000000,8.000000,0.000000,0.000000,1.000000
25%,13.200000,0.000000,10.100000,16.200000,10.000000,2.500000,6.900000,67.000000,86.000000,49.000000,1.000000,1.000000,92.000000
50%,17.600000,0.000000,14.500000,20.800000,21.000000,3.300000,8.900000,77.000000,91.000000,60.000000,2.000000,1.000000,183.000000
75%,23.000000,0.000000,20.300000,26.000000,27.000000,4.400000,11.100000,85.000000,93.000000,71.000000,5.000000,1.000000,274.000000
max,30.400000,55.900000,27.200000,35.200000,99.000000,11.900000,23.600000,93.000000,96.000000,91.000000,464.000000,1.000000,366.000000

In [25]:
print(final_df['count'].value_counts().sort_index().to_string())

0.0      356
1.0      262
2.0      174
3.0      126
4.0       98
5.0       86
6.0       60
7.0       46
8.0       31
9.0       27
10.0      22
11.0      22
12.0      18
13.0       8
14.0      12
15.0      10
16.0      13
17.0       5
18.0       7
19.0       7
20.0       3
21.0       2
22.0       2
23.0       2
24.0       6
25.0       4
26.0       3
27.0       1
28.0       2
31.0       1
32.0       1
36.0       1
38.0       2
41.0       1
45.0       1
47.0       2
48.0       1
52.0       1
54.0       1
61.0       1
62.0       1
72.0       2
84.0       1
87.0       2
95.0       1
99.0       1
103.0      1
107.0      1
111.0      1
132.0      1
163.0      1
171.0      1
174.0      1
199.0      1
201.0      1
202.0      1
205.0      1
209.0      1
211.0      1
222.0      1
233.0      1
243.0      1
245.0      1
250.0      1
255.0      1
291.0      1
302.0      1
310.0      1
315.0      1
370.0      1
464.0      1

In [26]:
# We check the data types
final_df.dtypes

fecha        datetime64[ns]
tmed                float64
prec                float64
tmin                float64
tmax                float64
dir                 float64
velmedia            float64
racha               float64
hrMedia             float64
hrMax               float64
hrMin               float64
count               float64
mosquito              int64
dayofyear             int64
dtype: object

In [27]:
# We save the dataframe
final_df.to_csv('..\\Datos\\final_df.csv', index=False)